<ion-header>
  <ion-toolbar>
    <ion-title>Stock Local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="ingresar()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required autocomplete="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required autocomplete="current-password"></ion-input>
    </ion-item>

    @if (error()) {
      <ion-text color="danger">
        <p>{{ error() }}</p>
      </ion-text>
    }

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="cargando()">
      {{ cargando() ? 'Ingresando...' : 'Ingresar' }}
    </ion-button>
  </form>
</ion-content>
